gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}
.hamster-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem 2rem 0 2rem;
}
.hamster-card {

    text-align: left;
    box-shadow: var(--box-shadow);
    background-color:#fdc794f8; 
    border-radius: 10px;
    padding: .7em .7em .7em .7em;
    display: flex;
    flex-direction: column;

}
.hamster-card p {
    visibility: hidden;
}
.hamster-card:hover {
    transition: all .7s;
    transform: scale(1.2);

}
.hamster-card:hover p{
    visibility: visible;
}
.hamster-image  {
    object-fit: cover;  
    border-radius: 10px;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.66);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.overlay .dialog {
    background-color: var(--muddy-yellow);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.7em 2.5rem;
    border-radius: 10px;
}

.overlay .dialog form {
    display: flex;
    flex-direction: column;
    font-weight:bold; 
    margin-bottom: 4rem;
}

.input-field {
    background-color: white;
}

#name, #age {
    background-color: white;
}

.overlay .dialog form input {
    /* background-color: white; */ /* Funkar ej utan att ange id likt ovan */
    margin-bottom: 1rem;
    padding: .7rem;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

.overlay .dialog form label {
    margin-bottom: .5rem;
    color: var(--dark-orange); 
}

.overlay .dialog .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;
    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;

    cursor: pointer;
}

.overlay .dialog .close-btn:hover {

    transition: .3s all;
  }
  .gallery-title {
      text-align: center;
      font-size: 3em ;
  }
img{
    max-width: 100%;
}
span{
    color: rgba(214, 10, 10, 0.808);
}
