@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Slackey&display=swap');

:root {
  /* Colors */
  --pink: #F75780;
  --orange: #f1bf8ef8;
  --muddy-yellow: #E9D8A6;
  --dark-orange: #963d0ac4;
  --darkest: #001219;
--chocklad:rgb(73, 36, 6);

  /* Fonts */
  --main-font: 'Slackey', cursive; 
  --open-sans: 'Open Sans', cursive;


  --box-shadow: 7px 10px 10px 1px rgba(27, 20, 1, 0.11);
}

.App {
  padding: 0em 4em;
  min-height: 100vh;
  background-color:#fcecddf8 ;
 /* background-image: linear-gradient(to bottom right, rgba(234,185,43,0.2), rgba(245,221,153,0.2), rgba(234,185,43,0.2) );
  background-repeat: no-repeat;
  background-size: cover;*/
}

header{
  padding: 2rem 0 0 0;
}
 h3,h1{
  color: var(--dark-orange);
  text-align: center;

  

}
h2{
  color: var(--dark-orange); 
}
h1 {
  position: relative;
  font-family: var(--main-font);
  color: var(--pink);
  font-size: 6em;
  margin: 0;
}
nav {
  text-align: end;
  padding: 2rem 2rem 2rem 2rem;
  

}
.menuSection {
  color: var(--dark-orange);
  text-decoration: none;
  margin-right: 2em;
  font-weight: bold;
  text-transform: uppercase;
}



  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
   

}

.hamster-logo{

  -webkit-clip-path: circle();
  clip-path: circle();
  max-width: 7%;
  float: left;

  
}

.cont {
  position: relative;
  width: 16vw;
  height: 8vw;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px black;
  margin: 3vw 0;

}
button {
  width: 100%;
  min-height: 3vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #F75780;
  position: realtive;
  border: 1px dashed yellow;
  border-radius: 10px;
  outline: none;
  transition: box-shadow 0.3s linear;
  box-shadow: inset 0px 0px 5px black, inset 0px 0px 0px #F7EA25;
  /*font-size: 1vw;*/
  font-family: 'Anton', sans-serif;
  font-size: 1.3vw;
  color: var(--chocklad);

}

button:active {
    box-shadow: inset 0px 0px 0px black, inset 0px 0px 105px #F7EA25;
}
button:active .blob {
  animation: none;
}



.text {
  display: flex;
  position: absolute;
  top: 17%;
  font-size: 4vw;
  text-shadow: 2px 2px black;
  


  
  
}

p:nth-child(1) {
  transform: rotate(8deg);
  animation: shake 0.5s ease infinite;
  color: #F7EA25

  }
 

@keyframes shake {
    0% {
      transform: translateX(0) rotate(8deg);
    }
    50% {
      transform: translateX(4px) rotate(-3deg);
    }

    100% {
      transform: translateX(0) rotate(6deg);
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
  }
  
  .form > * {
    margin: 0.5em 0em;
  }
  
  .valid {
    border-color:  #ee9b00f8;
  }
  .invalid {
    border-color: #E0471F;
  }
p{
  font-size: 1.1em;
  color: var(--dark-orange);
}
.cutest{
  width: 9vw;
 
}
.hamster-cutest{
  text-align: center;
  background-color:#fdc794f8; 
  border-radius: 10px;
  padding: .7em .7em .7em .7em;
  margin: 2rem 0 0 0;
}
.fight{
  text-align: center;
  margin: 2rem 4rem 0 0rem;
}
.contestants {
	display: flex;
	flex-direction: row;
  gap: 3rem;
  margin: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: center;
 
}
li{
  list-style: none;
}


@media screen and (max-width:400px) {
  .App{
    padding: 0 2em;
  }
  h1 , nav{
   text-align: left;
  }
  h1{
    font-size: 3em;
  }
  .contestants{
    flex-direction: column;
    margin: 0;
  }
  
}
